/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----- css reset -----*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 40px;
}

.name h1 {
    font-size: 80px;
    line-height: 95px;
    margin-bottom: 22px;
}

img {
    vertical-align: middle;
}

li:last-child {
    margin-bottom: 0 !important;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-80 {
    margin-bottom: 80px;
}

.text-center {
    text-align: center;
}

.border-bottom-2 {
    border-bottom: 2px solid #000;
}
.border-bottom-1 {
    border-bottom: 1px solid #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.avatar {
    width: 324px;
    height: 324px;
    margin: 48px 0;
}

.profile p {
    margin-bottom: 24px;
}

.education li {
    margin-bottom: 16px;
}

.full-container {
    background-color: #415165;
    padding: 24px 0 40px 0;
}

.sub-title {
    font-size: 32px;
    line-height: 48px;
    color: #000;
    padding-bottom: 7px;
    margin-bottom: 16px;
}

.sub-title .eng {
    display: inline-block;
    font-size: 24px;
    line-height: 1.2;
    color: #a00404;
    margin-left: 16px;
    height: 100%;
    vertical-align: text-top;
}

.skill {
    width: 996px;
    margin: 0 auto;
}

.skill .skills {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.skill ul {
    border-left: 1px solid #96A9C4;
}

.skill li {
    padding-left: 23px;
    margin-bottom: 8px;
}

.experience ul {
    border-left: 1px solid #96A9C4;
    margin-left: 24px;
}

.experience li {
    margin-bottom: 24px;
    padding-left: 24px;
}

.experience li .title {
    font-weight: bold;
}

.experience p {
    width: 642px;
    font-size: 20px;
    line-height: 30px;
}

.contact ul {
    margin-top: 24px;
    text-align: center;
}

.contact li {
    margin-bottom: 16px;
}

.contact img {
    padding: 0 12px;
}


/*----- theme -----*/
.dark {
    color: #FFF !important;
}

.border-bottom-1.dark {
    border-bottom: 1px solid #FFF;
}